@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

:root {
  --primary: #{mat-color(mat-palette($mat-indigo))};
  --accent: #{mat-color(mat-palette($mat-pink))};
  --warn: #{mat-color(mat-palette($mat-red))};
}

body {
  margin: 0;
}
